{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Design notes</h1>

<a href="#dashv2" class="govuk-link govuk-link--no-visited-state" style="display:block">Dashboard notes - v2 (following initial UR with recruiters)</a><br><a href="#dashv1" class="govuk-link govuk-link--no-visited-state" style="display:block">Dashboard notes - V1 (based on RAST workshop input)</a><br>
</div></div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h3 class="govuk-heading-s" style="margin-bottom:5px">V2</h3><br>
      <p class="govuk-body"><strong>Aim</strong></p>
      <p class="govuk-body">V2 was an updated version of V1, based on the UR feedback received for V1. Our aim was to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>remove the banked score tab that was considered unnecessary</li>
        <li>change some misleading content e.g. 'timeline' to 'case history'</li>
        <li>change button content so users had less fear about what the button would do (case overview tab)</li>
        <li>add extra contact options for the caseworker</li>
        <li>add missing reference numbers</li>
        <li>change the 'urgent' tag to something more meaningful</li>
        <li>hide completed cases</li>
      </ul><br>

      <p class="govuk-body"><strong>What we did</strong></p>
      <p class="govuk-body">We made the above changes to create a <a href="https://csj-ra-dash-7b67361d8c62.herokuapp.com/home" target="_blank">V2 version of the dashboard</a>.</p>

      <p class="govuk-body"><strong>User research</strong></p>
      <p class="govuk-body">Not tested yet</p><br>

        <br>
        <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible"><br>


    <h3 class="govuk-heading-s" style="margin-bottom:5px" id="dashv1">V1</h3><br>
      <p class="govuk-body"><strong>Aim</strong></p>
      <p class="govuk-body">Following on from a workshop with RAST leadership team, our aim was to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>provide RAST with a dashboard for handling RA cases</li>
        <li>allow case lists to be viewed and filtered</li>
        <li>show MI for leadership staff</li>
        <li>provide RA guidance for caseworkers</li>
        <li>prioritise important / urgent cases</li>
        <li>show the info needed to allow a caseworker to progress an RA case</li>
      </ul><br>

      <p class="govuk-body"><strong>What we did</strong></p>
      <p class="govuk-body">We designed a dashboard, with:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>an MI homepage which displayed stats and links through to the subgroup of cases</li>
        <li>a list of cases</li>
        <li>details on each case when clicked into</li>
      </ul>

      <p class="govuk-body"><strong>User research</strong></p>
      <p class="govuk-body"><a href="https://app.mural.co/t/civilservicerecruitment8943/m/civilservicerecruitment8943/1700493718011/622c83254c06b038144455be4b6d2c9cfa9251c3?sender=u21f36a9fedce292b06138582" target="_blank">Mural board with testing notes</a></p><br>
      <p class="govuk-body"><strong>What we found</strong></p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the dashboard was well received overall</li>
        <li>the filters were considered useful, although some refinement is needed as to what filters would be needed in reality</li>
        <li>users were confused as to what the 'URGENT' tag meant for that particular case</li>
        <li>it was felt that some reference numbers were missing</li>
        <li>the tabbed case details was successful and easily navigated</li>
        <li>it was felt that the banked scores tab was not needed, as no users felt they needed to see the actual banked score</li>
        <li>users showed reticence to use the options like 'reject request', as they felt the action would happen immediately (in actual fact, the plan was to take them to further screens before this would be final)</li>
        <li>the 'Case notes' tab was well received, although some users were unsure of it's purpose at first, while others raised concerns over who could / couldn't see the notes</li>
        <li>'Timeline' proved a confusing tab name, as some users thought it would show what would happen when, rather than be an audit trail as planned</li>
        <li>seeing previous requests by that candidate was considered very useful</li>
        </ul><br><br>
        <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible"><br>
        <br>
        </div><br><br><br>




{% endblock %}
