{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <h2 class="govuk-heading-l">Reasonable adjustments - dashboard</h2>

    <a href="home" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
      V2 (after initial testing with recruiters)
    </a>

    <a href="previous-versions/v1/home" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
      V1 (after initial workshop with RAST)
    </a>

    <a href="design-notes" class="govuk-link govuk-link--no-visited-state" style="display:block">Design notes</a><br><br>

    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible"><br><br>


  </div>
</div>

{% endblock %}
