{% extends "layouts/main.html" %}

{% set traineesPageHeading = "Open cases" %}

{% set pageHeading %}
  {{ traineesPageHeading }}
{% endset %}

{% set backText = "Back to my dashboard" %}
{% set backLink = '/home' %}
{% set navActive = "records" %}



{% block content %}

<a class="govuk-back-link" href="javascript:window.history.back()" style="margin-top:0px; margin-bottom:20px">Back</a><br><br>

<h1 class="govuk-heading-l">Reasonable adjustment cases</h1><br>

<div class="govuk-grid-row">
   <div class="govuk-grid-column-one-third">


     <div class="moj-filter">

       <div class="moj-filter__header">

         <div class="moj-filter__header-title">
           <h2 class="govuk-heading-m">Search and filters</h2>
         </div>

         <div class="moj-filter__header-action">

         </div>

       </div>

       <div class="moj-filter__content">



         <div class="moj-filter__options">



           <div class="govuk-form-group">
             <label class="govuk-label govuk-label--s" for="keywords">
               Search
             </label>

             <input class="govuk-input" id="keywords" name="keywords" type="text">

           </div>

           <button class="govuk-button" data-module="govuk-button" data-test-id="submit-button">
             Search
           </button>

           <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

           <div class="govuk-form-group">

             <fieldset class="govuk-fieldset">



               <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">

                 <div class="govuk-checkboxes__item">
                   <input class="govuk-checkboxes__input" id="type" name="type" type="checkbox" value="1" checked>
                   <label class="govuk-label govuk-checkboxes__label" for="type">
                     Allocated to me
                   </label>

                 </div>

                 <div class="govuk-checkboxes__item">
                   <input class="govuk-checkboxes__input" id="type-2" name="type" type="checkbox" value="2" checked>
                   <label class="govuk-label govuk-checkboxes__label" for="type-2">
                     Closing date in next 2 weeks
                   </label>

                 </div>



               </div>

             </fieldset>

           </div>

           <div class="govuk-form-group">

             <fieldset class="govuk-fieldset">

               <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">

                 Status

               </legend>

               <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">

                 <div class="govuk-checkboxes__item">
                   <input class="govuk-checkboxes__input" id="status" name="status" type="checkbox" value="complete" checked>
                   <label class="govuk-label govuk-checkboxes__label" for="status">
                     Urgent
                   </label>

                 </div>

                 <div class="govuk-checkboxes__item">
                   <input class="govuk-checkboxes__input" id="status-2" name="status" type="checkbox" value="incomplete">
                   <label class="govuk-label govuk-checkboxes__label" for="status-2">
                     In progress
                   </label>

                 </div>

                 <div class="govuk-checkboxes__item">
                   <input class="govuk-checkboxes__input" id="status-3" name="status" type="checkbox" value="inprogress">
                   <label class="govuk-label govuk-checkboxes__label" for="status-3">
                     Not started
                   </label>

                 </div>

                 <div class="govuk-checkboxes__item">
                   <input class="govuk-checkboxes__input" id="status-3" name="status" type="checkbox" value="inprogress">
                   <label class="govuk-label govuk-checkboxes__label" for="status-3">
                     Completed
                   </label>

                 </div>

               </div>

             </fieldset>

           </div>

           <div class="govuk-form-group">

             <fieldset class="govuk-fieldset">

               <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">

                 Dept

               </legend>

               <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">

                 <div class="govuk-checkboxes__item">
                   <input class="govuk-checkboxes__input" id="status" name="status" type="checkbox" value="complete" checked>
                   <label class="govuk-label govuk-checkboxes__label" for="status">
                     DWP
                   </label>

                 </div>

                 <div class="govuk-checkboxes__item">
                   <input class="govuk-checkboxes__input" id="status-2" name="status" type="checkbox" value="incomplete">
                   <label class="govuk-label govuk-checkboxes__label" for="status-2">
                     Home Office
                   </label>

                 </div>

                 <div class="govuk-checkboxes__item">
                   <input class="govuk-checkboxes__input" id="status-3" name="status" type="checkbox" value="inprogress">
                   <label class="govuk-label govuk-checkboxes__label" for="status-3">
                     Cabinet Office
                   </label>

                 </div>

                 <div class="govuk-checkboxes__item">
                   <input class="govuk-checkboxes__input" id="status-3" name="status" type="checkbox" value="inprogress">
                   <label class="govuk-label govuk-checkboxes__label" for="status-3">
                     DfE
                   </label>

                 </div>

               </div>

             </fieldset>

                  </div>

            <div class="govuk-form-group">

             <fieldset class="govuk-fieldset">

               <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">

                 Request type

               </legend>

               <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">

                 <div class="govuk-checkboxes__item">
                   <input class="govuk-checkboxes__input" id="status" name="status" type="checkbox" value="complete" checked>
                   <label class="govuk-label govuk-checkboxes__label" for="status">
                     Application
                   </label>

                 </div>

                 <div class="govuk-checkboxes__item">
                   <input class="govuk-checkboxes__input" id="status-2" name="status" type="checkbox" value="incomplete">
                   <label class="govuk-label govuk-checkboxes__label" for="status-2">
                     Test
                   </label>

                 </div>

                 <div class="govuk-checkboxes__item">
                   <input class="govuk-checkboxes__input" id="status-3" name="status" type="checkbox" value="inprogress">
                   <label class="govuk-label govuk-checkboxes__label" for="status-3">
                     Interview
                   </label>

                 </div>

                 <div class="govuk-checkboxes__item">
                   <input class="govuk-checkboxes__input" id="status-3" name="status" type="checkbox" value="inprogress">
                   <label class="govuk-label govuk-checkboxes__label" for="status-3">
                     Comms
                   </label>

                 </div>
                 <div class="govuk-checkboxes__item">
                   <input class="govuk-checkboxes__input" id="status-3" name="status" type="checkbox" value="inprogress">
                   <label class="govuk-label govuk-checkboxes__label" for="status-3">
                     Other
                   </label>

                 </div>

               </div>

             </fieldset>

           </div>

         </div>

       </div>

     </div>



  </div>
  <div class="govuk-grid-column-two-thirds">

    <div class="app-application-cards">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <h3 class="app-application-card__trainee-name govuk-heading-m govuk-!-margin-bottom-0">
            <a href="details-carolyn-hall" class="govuk-link govuk-link--no-visited-state">Carolyn HALL</a><br>
            <p class="govuk-body" style="padding-top:10px;">Assigned to:<br>Lesley Luke</p>
            <span class="moj-badge moj-badge--grey">numerical test</span>
          </h3>
        </div>
        <div class="govuk-grid-column-one-third">
            <p style="padding-top:10px; margin-bottom:5px"><br>Closing date:<br><strong>30 March 2024</strong></p>

        </div>
        <div class="govuk-grid-column-one-third">
          <strong class="govuk-tag govuk-tag--red" style="float:right;color:#ffffff;background-color:#d4351c;">Urgent</strong>
        </div>
        <p class="govuk-body" style="float:right;padding-top:10px; padding-right:15px;">Last updated:<br>28 Mar 2024</p>
      </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <div class="app-application-cards">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <h3 class="app-application-card__trainee-name govuk-heading-m govuk-!-margin-bottom-0">
            <a href="/record/b5668e99-97ac-463f-9236-249d4179bf5c" class="govuk-link govuk-link--no-visited-state">Neelam ALLAM</a><br>
            <p class="govuk-body" style="padding-top:10px;">Not assigned</p>
            <span class="moj-badge moj-badge--grey">interview</span>
          </h3>
        </div>
        <div class="govuk-grid-column-one-third">
            <p style="padding-top:10px; margin-bottom:5px"><br>Closing date:<br><strong>15 June 2024</strong></p>

        </div>
        <div class="govuk-grid-column-one-third">
          <strong class="govuk-tag govuk-tag--blue" style="float:right;">not started</strong>
        </div>

      </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <div class="app-application-cards">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <h3 class="app-application-card__trainee-name govuk-heading-m govuk-!-margin-bottom-0">
            <a href="/record/b5668e99-97ac-463f-9236-249d4179bf5c" class="govuk-link govuk-link--no-visited-state">Adam DROVER</a><br>
            <p class="govuk-body" style="padding-top:10px;">Assigned to:<br>Gemma Louise</p>
            <span class="moj-badge moj-badge--grey">interview</span>
          </h3>
        </div>
        <div class="govuk-grid-column-one-third">
            <p style="padding-top:10px; margin-bottom:5px"><br>Closing date:<br><strong>11 April 2024</strong></p>

        </div>
        <div class="govuk-grid-column-one-third">
          <strong class="govuk-tag" style="float:right;">in progress</strong>
        </div>
        <p class="govuk-body" style="float:right;padding-top:10px; padding-right:15px;">Last updated:<br>26 Feb 2024</p>
      </div>
    </div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <div class="app-application-cards">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <h3 class="app-application-card__trainee-name govuk-heading-m govuk-!-margin-bottom-0">
            <a href="/record/b5668e99-97ac-463f-9236-249d4179bf5c" class="govuk-link govuk-link--no-visited-state">Beth HARVEY</a><br>
            <p class="govuk-body" style="padding-top:10px;">Assigned to:<br>Gemma Louise</p>
            <span class="moj-badge moj-badge--grey">Judgement test</span><span class="moj-badge moj-badge--grey" >interview</span>
          </h3>
        </div>
        <div class="govuk-grid-column-one-third">
            <p style="padding-top:10px; margin-bottom:5px"><br>Closing date:<br><strong>1 January 2024</strong></p>

        </div>
        <div class="govuk-grid-column-one-third">
          <strong class="govuk-tag govuk-tag--grey" style="float:right;">completed</strong>
        </div>
        <p class="govuk-body" style="float:right;padding-top:10px; padding-right:15px;">Last updated:<br>10 Jan 2024</p>
      </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

</div></div>

{% endblock %}
